body {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg);
}
ul {
    float:left;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display:inline-flex;

}
ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    transition: 0.6s ease;
    border: 1px solid wheat;
}
ul li a:hover {
    background-color: gray;
    color: white;
}

.logo img {
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    display: flex;
    position:fixed;
    top: 20%;
    left: 45%;

}
.title {
    position:absolute;
    top:50%;
    /* right: 40%; */
    /* left: 40%; */
    /* transform:translate(-50%,-50%); */
}
h2 {
    color: white;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    display: flex;
    position:fixed;
    top: 42%;
    left: 45%;
    font-size: 55px;

}
h1 {
    color: white;
    align-items: center;
    justify-content: center;
    height: auto;
    display: flex;
    position:fixed;
    top: 52%;
    left: 35%;
    font-size: 58px;

}
h5 {
    color: white;
    align-items: center;
    justify-content: center;
    height: auto;
    display: flex;
    position:fixed;
    top: 61%;
    left: 30%;
}

.mouse img {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: auto;
    display: flex;
    position:absolute;
    top: 80%;
    left: 47%;


}
.h3 {
    padding:30px 30px 30px 500px ;
}
.details {
    padding: 30px 10px 10px 300px ;
    background-color: white;
 
    
}
.services {
    padding: 30px 10px 150px 300px;
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg);
    color: white;
   
}
.portfolio {
    background-color: white;
    color: black;
    font-size:10px
}
.inputs {

    width: 500px;
    height: 42px;
    border: 2px solid rgb(191, 178, 204);
    margin:  0 0 15px; 
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    text-align: centre;
    box-shadow: transparent;
}
.contactbody {
    background-image: url(https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg);
}